*{
    box-sizing: border-box;
   margin: 0;
   padding: 0;
   transition: all 0.1s ease-in;
}
/* Header Style */
header{
   position: relative;
}
.logo{
    position: relative;
    margin: 2rem;
    width:90px;
}
.logoColor{
    width: 2rem;
    position: absolute;
    top: 2.8rem;
    left: 13.7rem;
    z-index: -1;
}
/* Navabr style */
.nav-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
}
.nav-container a{
   text-decoration: none;
   color: black;
}
.nav-container ul{
    display: flex;
     margin: 2rem;
     list-style: none;
     gap: 2rem;

}
.signUp{
    border: solid 1px black;
   width: 5rem;
   height: 2rem;
   text-align: center;
   line-height: 2rem;
}
.langSelector{
    border: none;
    width: 50px;
    height: 20px;
    background-color: antiquewhite;
}
.langSelector:hover{
    cursor: pointer;
    background-color: azure;
    transition: all 0.3s ease-in;
}

/* Right side images */
.decorIMG{
    position: absolute;
    right: 0;
    top: 0; 
}
.PlaneIMG{
    position: absolute;
    right: 40rem;

}
.zIndex-1{
    z-index: 100;
}
/* banner style */
.bnnerSection{
    position: relative;
    display: flex;
    margin-top:4rem;
    width: 100%;
}
.bannerInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
    gap: 3rem;
   
}
.bannerInfo h6{
    color: #DF6951;
    font-size: 1rem;
}
.bannerInfo h1{
    font-size: 3rem;
    color: #181E4B;
}
.underline{
    width: 18rem;
    position: absolute;
    top: 11.5rem;
   left: 14rem;

}
.underline-text{
    position: relative;
}
.bannerInfo p{
    font-size: 0.9rem;
}
.bannerdemo{
 flex-direction: row;
 display: flex;
 gap: 1rem;

}
.bannerBTN{
    width: 10rem;
    height: 4rem;
    border: none;
    background-color: #F1A501;
    color: white;
    border-radius: 5rem;
   font-weight: bold;
}
.demoIMG{
    position: relative;
}
.demoText{
    position: absolute;
    left: 22rem;
    top: 31rem;
   
}
.travelIMG{
    position: absolute;
    right: 5rem;
    bottom: 0;
    width: 70%;  
}

/* Main Content style */
.favoriteBTN{
    width: 2.5rem;
    height: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 2rem;
    background: none;
    border: none;

 }
.favoriteBTN:hover{
    color: red;
}
.boxIMG{
    width: 50px;
    height: 50px;
    border-radius: 5rem;
    
}
.subscribtion{
    background: url(/image/back.png) center no-repeat;
    text-align: center;
    border-radius: 10rem;
    padding: 6rem;
}
.subscribtion p{
    font-size: 2rem;
    opacity: 0.5;
}
.subscribtion input{
    width: 20rem;
    height: 3rem;
    border: none;
    border-radius: 1.5rem;
    padding: 0 1rem 0 3rem;
    margin-top: 0;
   
}
.email-area{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.email-icon{
    display: flex;
    align-items: center;
    pointer-events: none;
}
.email-icon img{
    width: 1rem;
    height: 1rem;
}

/* classBased style */
.background-color{
    background-color: rgb(255, 252, 252);
}

.text-color1{
    color: #181E4B;
    
}
.text-color2{
    color: #5E6282;
}
.purple-color{
    accent-color: #8A79DF;
    color: #8A79DF;
}
.font-size1{
    font-size: 1.5rem;
}
.font-size2{
    font-size: 1rem
}
.font-size3{
    font-size:12px;
}
.font-size4{
    font-size: 3rem;
    font-weight: bold;
}
.text-center{
    text-align: center;
}

.d-inline-block{
    display: inline;
}
.border-radius2{
    border-radius: 2rem;
}
.display-desktop-none{
    display: none ;
}
.d-flex{
    display: flex;
}
.f-1{
    flex: 1;
}
.f-dir-row{
    flex-direction: row;
}
.f-dir-col{
    flex-direction: column;
}
.justify-content-center{
    justify-content: center;
    
}
.justify-content-space{
    justify-content: space-between;
}
.justify-content-evenly{
    justify-content: space-evenly;
}
.align-items-center{
   align-items: center;
}
.aspect-ratio1{
    aspect-ratio: 3/4;
}
.boject-fit-cover{
    object-fit: cover;
}
.gap1{
    gap: 1rem;
}
.gap2{
    gap: 2rem;
}
.gap3{
    gap: 3rem;
}
.gap4{
    gap: 4rem;
}
.gap5{
    gap: 5rem;
}
.gap6{
    gap: 6rem;
}
.w-100{
    width: 100%;
}
.w-h-round{
    width: 50px;
    height: 50px;
    border-radius: 5rem;
}
.w-80{
    width: 80%;
}
.w-95{
    width: 95%;
}
.w-33{
    width: 33%;
}
.w-20{
    width: 20%;
}
.w-70{
    width: 70%;
}
.w-fit{
    width: fit-content;
    max-width: 100%;
}
.list-style-none{
    list-style: none;
}
.h-1{
    height: 8.95rem;
}

.right1{
    right: 3rem;
}
.top1{
    top: 2rem ;
}
.left2{
    left: 3rem;
}
.bottom2{
    bottom: 10rem;
}
.left3{
 left:26rem;
}
.top3{
   top: 70rem;
}
.top-left4{
    top: 8rem;
    left: 13rem;
}
.top-right5{
    top:-1rem;
    right: 27rem;  
}
.top-bottom6{
    top: 3rem;
    left: 4rem;
    z-index: 1;
    width: 500px;
}
.left7{
    left: 22rem;
    top: 50%;
    bottom: 4rem;
   
}
.right-top8{
    right:8rem;
    top:0;
}
.zIndex-2{
    z-index: -1;
}
.z-index-3{
    z-index: -100;
}
.pos-rel{
    position: relative;
}
.pos-abs{
    position: absolute;
}
.d-block{
    display: block;
}
.margin-0{
    margin: 0;
}
.padding-1{
    padding: 1rem;
}
.padding-2{
    padding: 2rem;
}
.padding-6{
    padding: 6rem;
}
.padding-right{
    padding-right: 6rem;
}
.margin-auto{
    margin-left: auto;
    margin-right: auto;
}
.padding-0{
    padding: 0;
}
.margin-1{
    margin: 1rem;
}
.margin-bottom{
    margin-bottom:2rem ;
}
.margin-2{
    margin: 2rem;
}
.step{
    margin-bottom: 2rem;
}
.paddingL1{
    padding-left: 2rem;
}

.margin-top1{
    margin: 1rem;
}

.box-shadow-1{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.box-shadow-2{
    box-shadow: 6px -6px 12px 4px rgba(11, 93, 235, 0.3);
}

.border{
    border: 1px solid rgba(0, 0, 0, 0.048);
}